*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Comic Sans MS";
}

nav{
  width: 20%;
  float: left;
}

nav>a{
  display: inline-block;
  padding: 10px;
}

.header-title {
  background-image: url(../img/Task2_img/design1_image1.jpg);
  background-position: center;
  background-size: cover;
  height: 150px;
  margin: 1px auto 1px;
  text-shadow: 0 0 3px white, 0 0 5px white;
}


.header-subtitle{
  text-align: center;
  background-color: black;
  color: white;
  padding: 5px 0 5px;
  margin: 1px auto 1px;

}

.logo{
  height: 130px;
  margin: -100px 0 -10px 80%;
  display: inline-block;
}

ul{
  list-style: none;  
  font-weight: bold;
}

li>h3{
  /* margin-bottom:-1px; */
  margin: 10px 0 2px ; 
}

li>p{
  text-indent: 2%;
  margin: 1px auto 1px;
}

article{
  font-weight: bold;
  margin-bottom: 20px;
}

article>p{
  text-indent: 25px;
}

body{
  margin: 0 15%;
}

main{
  width: 80%;
  padding: 20px 0 0;
  overflow: auto;
  float: right;

}

main>p{
  font-weight: bold;  
}

footer{
  margin-top: auto;
}

.cuerpo{
  height: 600px;
  display: flex;
}
